/*========================================

** MEDIA QUERIES

=========================================*/

@media screen and (min-width:1500px) {
       
}

@media screen and (max-width: 1200px) {
       
}

@media screen and (max-width: 1000px) {
       
}

@media screen and (max-width: 768px) {
       
}

@media screen and (max-width: 450px) {
       
}

@media screen and (max-width: 320px) {
       
}