/*========================================

** UTILITIES

=========================================*/

/*=======================
  :: presentation
=======================*/

._set {
    background-position: center center;
    height: 100%; 
}


/*=======================
  :: structural
=======================*/
  
._full {
    width: 100%;
    float: left;
    height: auto;
} 

._center {
    width: $page; 
    margin: 0 auto;
    display: block;
    height: auto;
            
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;    
    }
}


/*=======================
  :: grids w margins
=======================*/

/* margin var */
$mar2: $mar * 2;
$mar3: $mar * 3;

._2up {
    width: calc((100% - #{$mar}) / 2);
    float: left;
    margin-right: $mar;
    display: block;
    
    /* last in grid */
    &:nth-child(2n+2) {
        margin-right: 0;
    }
}

._3up {
    width: calc((100% - #{$mar2}) / 3); 
    float: left;
    margin-right: $mar;
    display: block;
    
    /* last in grid */
    &:nth-child(3n+3) {
        margin-right: 0;
    }
}

._4up {
    width: calc((100% - #{$mar3}) / 4); 
    float: left;
    margin-right: $mar;
    display: block;
    
    /* last in grid */
    &:nth-child(4n+4) {
        margin-right: 0;
    }
}


/*=======================
  :: grids w/out margins
=======================*/

._2upNo {
    width: calc((100% - #{$mar}) / 2);
    float: left;
    display: block;
}

._3upNo {
    width: calc((100% - #{$mar2}) / 3); 
    float: left;
    display: block;
}

._4upNo {
    width: calc((100% - #{$mar3}) / 4); 
    float: left;
    display: block;
}
